* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.katalog-container {
    text-align: center;
    padding: 20px;
    margin-top: 80px;
}

.katalog-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.katalog-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; 
    text-align: center;
    padding: 15px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 475px; 
}

.katalog-card:hover {
    transform: scale(1.05);
}

.katalog-card img {
    width: 100%;
    height: auto;
    max-height: 150px; 
    border-radius: 5px;
    margin-bottom: 10px;
}

.katalog-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
    min-height: 40px; 
}

.katalog-card p {
    font-size: 0.9em;
    color: #666;
    flex-grow: 1; 
    margin-bottom: 10px;
}

.harga {
    font-size: 1.1em;
    color: #1db954;
    margin: 10px 0;
}

.buy-button {
    padding: 8px 16px;
    background-color: #6a00f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s;
    align-self: center; 
}

.buy-button:hover {
    background-color: #1db954;
}

.copyright {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #111;
    height: 100px;
    padding: 0 0 0 0;
}
