@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.header .logo {
    height: 80px;
    width: 100px;
}
.header .nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-grow: 1;
    text-align: center;
    margin-right: 0; 
}
.header .nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    padding: 5px 0;
}
.header .nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1db954;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.header .nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 50px 50px; 
    animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}
.text-content {
    max-width: 50%;
    text-align: left;
    animation: slideInLeft 2s ease-in-out;
}
@keyframes slideInLeft {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}
.text-content span {
    display: inline-block;
    background-color: #1db954;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
}
.text-content h1 {
    font-size: 48px;
    margin: 10px 0;
}
.text-content p {
    font-size: 18px;
    color: #aaa;
}
.cta-button {
    background: linear-gradient(90deg, #6a00f4, #ff0076);
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}
.image-container {
    max-width: 50%;
    position: relative;
    animation: slideInRight 2s ease-in-out;
}
@keyframes slideInRight {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}
.image-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background: radial-gradient(circle at center, #6a00f4, #ff0076);
    border-radius: 50%;
    z-index: -1;
}
.image-container img {
    width: 100%;
    border-radius: 20px;
    position: relative;
}
.trusted-by {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 80%;

}
.trusted-by span {
    margin-right: 20px;
    font-size: 18px;
}
.trusted-by-icons-wrapper {
    overflow: hidden;
    width: auto; 
}
.trusted-by-icons {
    display: flex;
    gap: 3px;
    animation: slideIcons 7s linear infinite;
}
.trusted-by-icons i {
    margin: 0;
}
@keyframes slideIcons {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
.trusted-by i {
    font-size: 24px;
    margin: 0 10px;
    color: #fff;
}
.most-popular {
    margin-top: -20px; /* Adjusted margin to overlap with Trusted By */
    font-size: 20px;
    color: #000;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    text-align: left;
    animation: fadeIn 2s ease-in-out;
    border: 1px solid #ccc;
    z-index: 0;
}
.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: stretch;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    padding: 10px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card img {
    width: 100%;
    border-radius: 10px;
}
.card h3 {
    margin: 5px 0;
    color: #000;
    font-size: small;

}
.card p {
    color: #666;
    margin: 5px 0;
    font-size: 12px;
}
.card .price {
    color: #000;
    font-weight: bold;
}
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        gap: 20px;
    }
    .card {
        width: 100%;
    }
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.see-more-card {
    background-color: #fff; 
    color: #333; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 100px; 
    width: 20%; 
    padding: 20px; 
    text-align: center; 
    margin: 0px auto; 
}


.see-more-card h3 {
    color: #1db954;
    margin: 10px 0;
}

.see-more-card p {
    color: #aaa;
    font-size: 14px;
    margin-bottom: 20px;
}

.see-more-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.see-more-card h3 {
    color: #1db954;
    margin: 10px 0;
}

.see-more-card p {
    color: #aaa;
    font-size: 14px;
    margin-bottom: 20px;
}

.see-more-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.footer {
    background-color: #111;
    color: #fff;
    padding: 20px 50px;
    text-align: center;
    margin-top: 50px;
}
.footer h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.footer p {
    font-size: 16px;
    color: #aaa;
}
.about-us-container {
    text-align: center;
    margin-top: 50px;
}
.about-us-header {
    background-color: #111;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.about-us-header h1 {
    color: #fff;
    margin: 0;
    font-size: 2em;
}
.profiles {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.profile {
    border: 2px solid goldenrod;
    border-radius: 0 0 50% 50%;
    width: 150px;
    height: 300px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.profile img {
    border-radius: 50%;
    border: 2px solid goldenrod;
    width: 100px;
    height: 100px;
}
.profile .name {
    margin-top: 20px;
    font-size: 1.2em;
    color: #fff;
}
.profile .nim {
    font-size: 1em;
    color: #fff;
}
.appear {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.appear.active {
    opacity: 1;
    transform: translateY(0);
}

.copyright {
    text-align: center;
    margin-top: 20px;
}

